<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.LeaseDeviceMapper">
    <insert id="saveNewLeDe">
        INSERT INTO
        t_lease_device (device_id, lease_id, back_time, lease_num, create_price, amount)
        VALUES (#{deviceId}, #{leaseId}, #{backTime}, #{leaseNum}, #{createPrice}, #{amount});
    </insert>
</mapper>